.videos {
    .owl-dots {
        margin-top: 0 !important;
        @extend %fixall;

        .owl-dot {
            @extend %fixall;

            &.active {
                span {
                    background-color: $maincolor;
                    background: $maincolor;
                    opacity: 1;
                }
            }

            span {
                @extend %fixall;
                border-radius: 50%;
                background-color: $seccolor;
                background: $seccolor;
                opacity: 0.502;
                width: 9px;
                height: 9px;
                margin: 0 3px;
                @include transition(all 0.3s ease-in-out);

                &:hover {
                    @extend %fixall;
                    background-color: $maincolor;
                    background: $maincolor;
                    opacity: 1;
                    margin: 0 3px;
                }
            }
        }
    }
}

.similar-reviews {
    .owl-dots {
        margin-top: 0 !important;
        @extend %fixall;

        .owl-dot {
            @extend %fixall;

            &.active {
                span {
                    background-color: $maincolor;
                    background: $maincolor;
                    opacity: 1;
                }
            }

            span {
                @extend %fixall;
                border-radius: 50%;
                background-color: $seccolor;
                background: $seccolor;
                opacity: 0.502;
                width: 9px;
                height: 9px;
                margin: 0 3px;
                @include transition(all 0.3s ease-in-out);

                &:hover {
                    @extend %fixall;
                    background-color: $maincolor;
                    background: $maincolor;
                    opacity: 1;
                    margin: 0 3px;
                }
            }
        }
    }
}

.similar-news {
    .owl-dots {
        margin-top: 0 !important;
        @extend %fixall;

        .owl-dot {
            @extend %fixall;

            &.active {
                span {
                    background-color: $maincolor;
                    background: $maincolor;
                    opacity: 1;
                }
            }

            span {
                @extend %fixall;
                border-radius: 50%;
                background-color: $seccolor;
                background: $seccolor;
                opacity: 0.502;
                width: 9px;
                height: 9px;
                margin: 0 3px;
                @include transition(all 0.3s ease-in-out);

                &:hover {
                    @extend %fixall;
                    background-color: $maincolor;
                    background: $maincolor;
                    opacity: 1;
                    margin: 0 3px;
                }
            }
        }
    }
}

.prices {
    .owl-dots {
        margin-top: 0 !important;
        @extend %fixall;

        .owl-dot {
            @extend %fixall;

            &.active {
                span {
                    background-color: $maincolor;
                    background: $maincolor;
                    opacity: 1;
                }
            }

            span {
                @extend %fixall;
                border-radius: 50%;
                background-color: $seccolor;
                background: $seccolor;
                opacity: 0.502;
                width: 9px;
                height: 9px;
                margin: 0 3px;
                @include transition(all 0.3s ease-in-out);

                &:hover {
                    @extend %fixall;
                    background-color: $maincolor;
                    background: $maincolor;
                    opacity: 1;
                    margin: 0 3px;
                }
            }
        }
    }
}

.car-price-slider {
    margin-bottom: 16px;
}

.car-slider {
    margin-bottom: 16px;

    .swiper-button-next {
        @extend %fixall;
        background-image: none;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;
        font-size: 11px;
        left: 0;
        @include transition(all 0.5s ease-in-out);

        &:hover {
            background-color: rgba(0, 0, 0, 0.75);
        }
    }

    .swiper-button-prev {
        @extend %fixall;
        background-image: none;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;
        font-size: 11px;
        right: 0;
        @include transition(all 0.5s ease-in-out);

        &:hover {
            background-color: rgba(0, 0, 0, 0.75);
        }
    }

    .gallery-thumbs {
        margin-top: 6px;

        .swiper-slide {
            width: 100px !important;
            height: 100px;
            overflow: hidden;
            margin-left: 7px;

            @media (max-width:767px) {
                width: 70px !important;
                height: 70px;
            }
        }
    }
}

html[dir="ltr"] .car-slider {

    .swiper-button-next {
        left: 0;
        right: auto;
    }

    .swiper-button-prev {
        right: 0;
        left: auto;
    }

    .gallery-thumbs {

        .swiper-slide {
            margin-left: 0;
            margin-right: 7px;
        }
    }

}