.search {
    display: block;
    height: 52px;
    display: flex;
    justify-content: space-between;
}

@keyframes search-inner {
    0% {
        left: -100%;

    }

    100% {
        left: 60px;
    }
}

@keyframes search-inner-en {
    0% {
        right: -100%;
        left: auto
    }

    100% {
        right: 60px;
        left: auto
    }
}

.search-inner {
    animation: search-inner 1s ease forwards;

}

html[dir="ltr"] .search-inner {
    animation: search-inner-en 1s ease forwards;

}

@keyframes search-outer {
    0% {
        left: 60px;
    }

    100% {
        left: -100%;
    }
}

@keyframes search-outer-en {
    0% {
        right: 60px;
        left: auto;
    }

    100% {
        right: -100%;
        left: auto;
    }
}

html[dir="ltr"] .search-outer {
    animation: search-outer-en 1s ease forwards;

}

.search-outer {
    animation: search-outer 1s ease forwards;

}

.search-input {
    position: absolute;
    left: -100%;
    @extend %fixall;
    position: absolute;
    top: 0;
    height: 52px;
    width: 694px;
    border-style: solid;
    border-width: 2px;
    border-color: #f7f7f7;
    @include transition(all 0.3s ease-in-out);
    padding: 0 28px;
    color: #a9a9a9;
    font-size: 16px;

    &::placeholder {
        color: #a9a9a9;
        font-size: 16px;
    }

    &:hover {
        border-style: solid;
        border-width: 2px;
        border-color: #f7f7f7;
    }

    &:focus {
        border-style: solid;
        border-width: 1px;
        border-color: $maincolor;
    }

    &:focus {
        border-style: solid;
        border-width: 2px;
        border-color: $maincolor;
    }

    @media (max-width:1199px) {
        width: 600px;
    }

    @media (max-width:767px) {
        width: 100% !important;
    }
}

html[dir="ltr"] .search-input {
    right: -100%;
    left: auto;

    @media (max-width:1199px) {
        width: 500px;
    }

    @media (max-width:1199px) {
        width: 600px;
    }

    @media (max-width:767px) {
        width: 100% !important;
    }
}


.selects {
    margin-top: 19px;
    display: flex;

    @media (max-width:991px) {
        flex-direction: column;
        margin-top: 25px
    }
}



.select-tags {
    margin-left: 8px;
    height: 46px;

    @media (max-width:991px) {
        margin-left: 0;
        margin-bottom: 4px;
    }

    .filter-option {
        display: flex;
        align-items: center;
    }

    .bootstrap-select {
        width: 262px !important;
        vertical-align: middle;
        height: 46px;

        @media (max-width:991px) {
            width: 100% !important;
        }
    }

    .filter-option {
        text-align: right !important;
    }

    .caret {
        display: none;
        right: auto !important;
        left: 12px !important;

    }

    .dropdown-toggle {
        border-radius: 0px !important;
        outline: none !important;
        box-shadow: none !important;

        &:active {
            border-radius: 0px !important;
            outline: none !important;
            box-shadow: none !important;

        }

        &:focus {
            border-radius: 0px !important;
            outline: none !important;
            box-shadow: none !important;
        }

        &:hover {
            border-radius: 0px !important;
            outline: none !important;
            box-shadow: none !important;

        }

        &:visited {
            border-radius: 0px !important;
            outline: none !important;
            box-shadow: none !important;
        }
    }

    .dropdown-toggle.btn-default {
        font-size: 16px;
        color: #b3b3b3;
        background-color: #ffffff;
        border: none;
        height: 46px;
        @include transition(all 0.3s ease-in-out);

        &:after {
            content: "\f078";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin-left: 5px;
            font-size: 10px;
            float: left;
            color: #b3b3b3;
        }

        &:active {
            color: #b3b3b3;
            background-color: #ffffff;
        }

        &:focus {
            color: #b3b3b3;
            background-color: #ffffff;
        }

        &:hover {
            color: #b3b3b3;
            background-color: #ffffff;
        }
    }

    .open {
        .dropdown-toggle.btn-default {
            border-color: transparent !important;
        }
    }

    .dropdown-menu {
        padding: 0;
        margin: 0;
        font-size: 14px;
        border: none;
        border: none;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;

        &>li {
            &>a {
                display: block;
                padding: 3px 13px;
                clear: both;
                font-weight: 400;
                line-height: 1.42857143;
                color: #818181;
                white-space: nowrap;
                @include transition(all 0.3s ease-in-out);

                &.active {
                    color: #818181;
                    background-color: transparent;
                    border: none;
                    box-shadow: none;
                    outline: none;
                }

                &:hover {
                    color: $maincolor;
                    background-color: transparent;
                    border: none;
                    box-shadow: none;
                    outline: none;
                }

                &:active {
                    color: $maincolor;
                    background-color: transparent;
                    border: none;
                    box-shadow: none;
                    outline: none;
                }

                &:focus {
                    color: $maincolor;
                    background-color: transparent;
                    border: none;
                    box-shadow: none;
                    outline: none;
                }
            }
        }
    }

    .inner.open {
        overflow-y: hidden !important;
        padding: 13px 11px;
        max-height: 250px;
        min-height: 80px;
    }

    .dropdown-menu.inner {
        height: 250px;
        max-height: 250px;
        min-height: 80px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            background-color: #e5e5e5;
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #c3c3c3;
        }

        &::-webkit-scrollbar-track {
            background-color: #e5e5e5;
        }

        scrollbar-width: thin;
        scrollbar-color: #c3c3c3 #e5e5e5;
    }
}

html[dir="ltr"] .select-tags {
    margin-left: 0;
    margin-right: 8px;

    @media (max-width:991px) {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 4px;
    }

    .filter-option {
        text-align: left !important;
    }

    .dropdown-toggle.btn-default {

        &:after {
            margin-right: 5px;
            float: right;
            margin-left: 0;
        }

    }
}

.pages-search {
    margin-top: 32px;

    .open {
        .dropdown-toggle.btn-default {
            border-color: transparent !important;
            box-shadow: 0px 0px 20px 0px rgba(22, 22, 22, 0.1) !important;
        }
    }

    .dropdown-toggle.btn-default {
        border: 2px solid #f2f2f2 !important;
    }

    .dropdown-menu.open {
        box-shadow: 0px 11px 13px 0px rgba(22, 22, 22, 0.1) !important;
    }
}

.adv-search-button {
    @extend %fixall;
    background-color: $maincolor;
    height: 46px;
    line-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    font-size: 18px;
    font-family: Frutiger-bold;
    color: #fff;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border: 1px solid transparent;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(#000, 1);
        -webkit-transform: scaleX(0);
        /* scaley to vertical */
        transform: scaleX(0);
        /* scaley to vertical */
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    &:hover {
        border: 1px solid $maincolor;

        &:before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }

    i {
        font-size: 15px;
        margin-left: 9px;
    }

    &:hover {
        color: #fff;
    }

    @media (max-width:991px) {
        width: 100% !important;
    }
}

html[dir="ltr"] .adv-search-button {

    i {
        margin-right: 9px;
        margin-left: 0;
    }

}

.advanced-search {
    background-color: $seccolor;
    margin-top: 130px;

    @media (max-width:767px) {
        margin-top: 102px;
        padding-top: 0 !important;
    }

    .adv-search {
        background-image: url(../images/advsearch-ar.jpg);
        background-repeat: no-repeat;
        padding-bottom: 60px;
        padding-top: 46px;

        @media (max-width:767px) {
            margin-top: 0;
        }

        @media (max-width:991px) {
            background-image: none;
            padding-bottom: 52px;
        }

        @media (max-width:767px) {
            padding-bottom: 30px;
        }
    }
}

html[dir="ltr"] .advanced-search {


    background-image: url(../images/advsearch-en.jpg);
    background-repeat: no-repeat;
    padding-bottom: 60px;
    padding-top: 46px;
    background-position: right;

    @media (max-width:767px) {
        margin-top: 0;
    }

    @media (max-width:991px) {
        background-image: none;
        padding-bottom: 52px;
    }

    @media (max-width:767px) {
        padding-bottom: 30px;
    }
}


.newsletter-sec {
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    min-height: 292px;
    top: -50px;
    position: absolute;

    @media (max-width:767px) {
        padding: 10px;
    }

    @media (max-width:480px) {
        width: 100%;
    }

    .newsletter {
        background-image: url("../images/newsletter.jpg");
        width: 100%;
        height: 292px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (max-width:767px) {
            padding: 15px;
        }
    }

    .newsletter-head {
        @extend %fixall;
        color: #fff;
        font-size: 26px;
        font-family: Frutiger-black;
        margin-bottom: 17px;
        text-align: center;

        @media (max-width:767px) {
            font-size: 18px;
            line-height: 35px;
            margin-bottom: 12px;
        }
    }

    .newsletter-info {
        @extend %fixall;
        color: #fff;
        font-size: 18px;
        font-family: Frutiger-light;
        text-align: center;
        margin-bottom: 32px;

        @media (max-width:767px) {
            margin-bottom: 16px;
        }
    }

    .news-container {
        display: flex;

        @media (max-width:767px) {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
    }

    .news-input {
        @extend %fixall;
        width: 456px;
        height: 52px;
        padding: 0 28px;
        color: #b3b3b3;
        font-size: 16px;
        margin-left: 10px;

        &::placeholder {
            color: #b3b3b3;
            font-size: 16px;
        }

        @media (max-width:767px) {
            width: 100%;
            margin: auto;
        }
    }

    .news-btn {
        @extend %fixall;
        background-color: $seccolor;
        width: 114px;
        height: 52px;
        color: #fff;
        font-size: 18px;
        font-family: Frutiger-bold;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(#fff, 0.1);
            -webkit-transform: scaleX(0);
            /* scaley to vertical */
            transform: scaleX(0);
            /* scaley to vertical */
            -webkit-transform-origin: 50%;
            transform-origin: 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        &:hover {
            &:before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
        }

        @media (max-width:767px) {
            width: 100%;
            margin: 10px auto 0;
        }
    }
}

html[dir="ltr"] .newsletter-sec {
    .newsletter {
        .newsletter-head {
            @media (max-width:767px) {
                font-size: 18px;
            }
        }

        .newsletter-info {
            @media (max-width:767px) {
                font-size: 18px;
            }
        }
    }

    .news-input {
        margin-right: 10px;
        margin-left: 0;

        &::placeholder {
            color: #b3b3b3;
            font-size: 16px;
        }

        @media (max-width:767px) {
            width: 100%;
            margin: auto;
        }
    }
}

.search-pop {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    background-color: rgba($seccolor, 0.95);
    z-index: 9999;
    left: 0;
    top: 0;

    .search {
        margin: 150px auto;
        width: 600px;

        @media (max-width:767px) {
            width: 100%;
        }

    }

    .search-container {
        width: 600px;

        @media (max-width:991px) {
            width: 100%;
            position: relative;
        }
    }

    .search-input {
        @extend %fixall;
        position: static;
        height: 52px;
        border-style: solid;
        border-width: 2px;
        border-color: #f7f7f7;
        @include transition(all 0.3s ease-in-out);
        padding: 0;
        color: #a9a9a9;
        font-size: 16px;
        width: 600px;
        padding: 0 20px;

        @media (max-width:767px) {
            width: 100%;
        }

        &::placeholder {
            color: #a9a9a9;
            font-size: 16px;
        }

        &:hover {
            border-style: solid;
            border-width: 2px;
            border-color: #f7f7f7;
        }

        &:focus {
            border-style: solid;
            border-width: 2px;
            border-color: $maincolor;
        }

        &:focus {
            border-style: solid;
            border-width: 2px;
            border-color: $maincolor;
        }

        @media (max-width:1199px) {
            width: 600px;
        }
    }

    .search-btn {
        position: absolute;
        top: 0;
        left: 0;
        @extend %fixall;
        cursor: pointer;
        background-color: $maincolor;
        width: 52px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 15px;
        color: #fff;
    }

    .closebtn {
        position: absolute;
        top: 50px;
        cursor: pointer;
        left: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #c0c0c0;
        font-size: 20px;
    }
}

html[dir="ltr"] .search-pop {

    .search-container {
        width: 600px;

        @media (max-width:767px) {
            width: 100%;
            position: relative;
        }
    }

    .search-btn {
        right: 0;
        left: auto;
    }

}