.search-header {
    margin-top: 35px;
}

.search-cats {
    display: flex;
    flex-direction: column;
    @extend %fixall;

    li {
        border: none;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 11px;
        margin-bottom: 11px;

        &:last-child {
            border-bottom: none;
        }

        &:focus {
            outline: none;
        }

        &.active {
            border: none;
            border-bottom: 1px solid #f2f2f2;

            a {
                @extend %fixall;
                border: none !important;
                color: $maincolor !important;
                border-radius: 0;

                &:hover {
                    @extend %fixall;
                    color: $maincolor;
                    border: none;
                    border-radius: 0;
                }
            }
        }

        &:hover {
            border: none;
            border-bottom: 1px solid #f2f2f2;

            a {
                border: none;
            }
        }

        a {
            @extend %fixall;
            font-family: Frutiger-bold;
            font-size: 17px;
            color: $seccolor;
            border: none;
            @extend %fixall;
            border: none;
            @include transition(all 0.3s ease-in-out);
            display: flex;
            align-items: center;

            &:hover {
                color: $maincolor;
                background-color: transparent;
            }

            &:before {
                content: "\f0d9";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 12px;
                margin-left: 19px;
            }
        }
    }
}

html[dir="ltr"] .search-cats {

    li {

        a {
            &:before {
                content: "\f0da";
                margin-right: 19px;
                margin-left: 0;
            }
        }
    }
}

.review-post {
    @media (max-width:767px) {
        margin-bottom: 75px;
    }

    .nav-tabs {
        margin-bottom: 12px;
        border-bottom: none;

        @media (max-width:767px) {
            margin-bottom: 20px;
        }
    }

    li {
        background-color: #e9e9e9;
        width: 210px;
        height: 47px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2px;

        @media (max-width:1199px) {
            width: 172.5px;
        }

        @media (max-width:991px) {
            width: 178.5px;
        }

        @media (max-width:767px) {
            width: 100%;
            margin-left: 0;
            margin-bottom: 5px;
        }

        &:last-child {
            margin-left: 0;
        }

        &:focus {
            outline: none;
        }

        &.active {
            border: none;

            a {
                @extend %fixall;
                border: none !important;
                color: #fff !important;
                border-radius: 0;
                background-color: $maincolor !important;

                &:hover {
                    @extend %fixall;
                    border: none;
                    border-radius: 0;
                    background-color: $maincolor;
                }
            }
        }

        &:hover {
            border: none;
            background-color: $maincolor;


            a {
                background-color: $maincolor;

            }
        }

        a {
            background-color: #e9e9e9;
            @extend %fixall;
            font-family: Frutiger-bold;
            font-size: 14px;
            color: #929191;
            border: none;
            @extend %fixall;
            border: none;
            @include transition(all 0.3s ease-in-out);
            display: flex;
            align-items: center;
            background-color: transparent;
            width: 100%;
            justify-content: center;
            height: 100%;

            &:hover {
                color: #fff;
            }
        }
    }
}