body {
    font-family: Frutiger;

    &::-webkit-scrollbar {
        background-color: rgba($seccolor, 0.2);
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba($maincolor, 0.7);
        border-radius: 25px;

        &:hover {
            background-color: rgba($maincolor, 1);
        }
    }

    &::-webkit-scrollbar-track {
        background-color: rgba($seccolor, 0.2);
    }
}

html {
    scrollbar-width: thin;
    scrollbar-color: rgba($maincolor, 0.7) rgba($seccolor, 0.2);
}

.page-body {
    margin-top: 35px;

    @media (max-width:480px) {
        margin-top: 20px;
    }
}