.brand-img-page {
    width: 150px;
    margin: auto;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;

    @media (max-width:1199px) {
        margin-left: 0;
        margin-right: 0;

        &:nth-of-type(3n) {
            margin-left: 0px;
            margin-right: 0;
        }
    }

    @media (max-width: 991px) {
        margin-right: auto !important;
        margin-left: auto !important;
    }
}

html[dir="ltr"] .brand-img-page {
    margin-left: 0;
    margin-right: 0;

    @media (max-width:1199px) {
        margin-left: 0;
        margin-right: 0;

        &:nth-of-type(3n) {
            margin-left: 0px;
            margin-right: 0;
        }
    }

    @media (max-width: 991px) {
        margin-right: auto !important;
        margin-left: auto !important;
    }
}

.brands-page {
    display: block;
    height: auto;
    overflow: visible;
    max-height: none;
}