.car-price-header {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
    color: $seccolor;

    @media (max-width:991px) {
        justify-content: center;
    }

    @media (max-width:480px) {
        flex-direction: column;
    }


    .price {
        width: 210px;
        max-width: 215px;
        height: 42px;
        max-height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $maincolor;
        color: #fff;
        position: relative;
        font-size: 16px;
        margin: 0;

        &:after {
            content: "";
            width: 0;
            height: 0;
            display: block;
            border-width: 8px;
            border-color: transparent transparent transparent $maincolor;
            border-style: solid;
            position: absolute;
            top: 50%;
            transform: translate(100%, -50%);
            right: 0;

            @media (max-width:480px) {
                border-color: transparent transparent #ed2228 transparent;
                top: 0%;
                transform: translate(50%, -100%);
                right: 50%;
                left: auto;
            }
        }
    }
}

html[dir="ltr"] .car-price-header {

    .price {

        &:after {
            border-color: transparent #ed2228 transparent transparent;
            transform: translate(-100%, -50%);
            left: 0;
            right: auto;

            @media (max-width:480px) {
                border-color: transparent transparent #ed2228 transparent;
                top: 0%;
                transform: translate(50%, -100%);
                right: 50%;
                left: auto;
            }
        }
    }
}