.prices {
    @media (max-width:991px) {
        margin-bottom: 30px
    }
}

.car-price-title {
    @extend %fixall;
    font-size: 16px;
    color: $seccolor;
    margin-top: 11px;
    padding-right: 11px;
    display: block;
    @include transition(all 0.3s ease-in-out);

    &:hover {
        color: $maincolor;
    }
}

.car-price {
    margin-bottom: 27px;

    img {
        width: 100%;
    }
}

.car-price-page {
    margin-top: 35px;
    margin-bottom: 0;
    position: relative;

    .car-price-title {
        @media (max-width:767px) {
            font-size: 12px;
        }
    }

    &:after {
        color: #fff;
        position: absolute;
        padding: 0 10px;
        height: 25px;
        top: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.new-car {
        &:after {
            content: "جديد";
            background-color: rgba(76, 175, 82, 0.902);
        }
    }

    &.used-car {
        &:after {
            content: "مستعمل";
            background-color: rgba($maincolor, 0.902);
        }
    }
}

html[dir="ltr"] .car-price-page {
    &:after {
        top: 10px;
        left: 10px;
        right: auto;
    }

    &.new-car {
        &:after {
            content: "New";

        }
    }

    &.used-car {
        &:after {
            content: "Used";

        }
    }
}

.price {
    @extend %fixall;
    font-size: 17px;
    color: $maincolor;
    font-family: Frutiger-bold;
    margin-top: 6px;
    padding-right: 11px;
    display: block;
}




html[dir="ltr"] .car-price-title {
    padding-right: 0;
    padding-left: 11px;
}

html[dir="ltr"] .price {
    padding-right: 0;
    padding-left: 11px;
}