.review {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 0px rgba(22, 22, 22, 0.1);
    width: 100%;
    display: flex;
    margin-top: 35px;
    flex-direction: column;

    .review-img {
        overflow: hidden;
        display: flex;
    }

    img {
        height: 100%;
        @include transition(all 1.2s ease-in-out);

        &:hover {

            transform: scale(1.1);

        }

        @media (max-width:767px) {
            width: 100%;
            min-width: auto;
            height: auto;
            max-height: none;
            max-width: none;
        }
    }

    .info {
        padding-right: 31px;
        padding-left: 30px;
        padding-top: 18px;
        padding-bottom: 34px;

        @media (max-width:767px) {
            padding: 20px;
        }
    }

    .review-head {
        @extend %fixall;
        color: $seccolor;
        font-size: 18px;
        font-family: Frutiger-bold;
        margin-bottom: 14px;
        display: block;
        @include transition(all 0.3s ease-in-out);


        &:hover {
            color: $maincolor;
        }
    }

    .review-info {
        @extend %fixall;
        color: #7d7d7d;
        font-size: 16px;
        text-align: justify;
    }

    .tags {
        margin-top: 35px;
        display: flex;

        @media (max-width:480px) {
            margin-top: 20px;
            justify-content: center;
        }
    }

    .tag {
        @extend %fixall;
        height: 24px;
        line-height: 24px;
        padding: 0 14px;
        display: inline-flex;
        justify-content: center;
        color: #fff;
        font-size: 12px;
        margin-right: 4px;
        backface-visibility: hidden;
        @include transition(all 0.3s ease-in-out);

        &:nth-of-type(1) {
            background-color: #efa81f;
        }

        &:nth-of-type(2) {
            background-color: #8a8a8a;
        }

        &:nth-of-type(3) {
            background-color: #bebfbe;
        }
    }
}

.see-more-reviews {
    margin-top: 35px;
}

html[dir="ltr"] .review {
    .review-head {

        @media (max-width:1199px) {
            font-size: 20px;
        }
    }

    .info {
        padding-right: 30px;
        padding-left: 31px;
    }

    .tag {
        margin-right: 0;
        margin-left: 4px;
    }
}