.search-noresult {
    text-align: center;
    color: #a5a5a5;
    font-size: 17px;
    margin-top: 50px;

    .noresult {
        margin: auto;
        margin-bottom: 27px;
    }
}

.search-review {
    flex-direction: row;
}